*{
	
	--vermelho: #f8031f;
    --bege: #F4E0B9;
	
}

.container{height: 85vh;}

.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }


/*HEADER*/
.main_header          { background:#ffffff; border-bottom:1px #f4f4f4 solid; z-index:1; padding: 0.5em 0em; }
.main_header .content { float:left; padding:0px 0; }

.fixed            { display:block; position:fixed; z-index:9;  }
.main_header_logo { text-align:center; margin:auto; float:none; width:138px; }
.main_header_logo img { height:69px; }


/*Seu Código*/
.section-seu-codigo          { padding:0px; background-color:#f4f4f4; }
.section-seu-codigo .content { float:left; padding:1em 0; }
.section_title               { width: 100%; float:left; margin-bottom:1em; font-size:1.3em; font-weight: 300; text-align: center; border-bottom: 1px #eceaea solid; padding-bottom: 1em; }

.box-artigo   { width:100%; float:left; background:#fff; box-shadow: 1px 0px 1.2px 0px #e3e3e3; border-radius:3px; padding:1em; }

/*Slide*/

.slideshow-container {
    
    border-bottom: var(--vermelho) 4px solid;
    width: 100%;
    position: relative;
    margin: auto;

}

.slideshow {
    display: none;
}


.slideshow img { width:100%; }

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
	color: var(--bege);
	background-color: rgba(255, 255, 255, 0.4)
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	color: #fff;
    background-color: var(--vermelho);
}


.legenda {

    width: auto;
    color: #fdfdfd;
    font-size: 0.9em;
    padding:5px;
    position: absolute;
    bottom: 18%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    left: 10%;

}

.numeracao {

    color: var(--bege);
    font-size: 20px;
    padding: 8px 12px;
    font-family:geometric;
    position: absolute;
    top: 0;
    text-shadow: 0px 0px 10px black;

}

.paginacao { 
    
    width:100%; 
    margin: 10px 0;
    text-align: center;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dot {
	
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 4px;
	border: var(--bege) solid 2px;
    border-radius: 50px;
    background-color: #fff;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativo,
.dot:hover {
	border: var(--vermelho) solid 2px;
    background-color: var(--vermelho);
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

/*960PX BREAKPOINT - Ajustando o texto para desktop*/
@media (min-width:60em){


    .legenda   { font-size:2em; padding:8px; }
    .paginacao { margin:20px 0; }
    .dot       { width:18px; height:18px; }
}

/*Slide*/

/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

.boxBannerTopo { padding:1em 0; }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){


} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){


} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){


}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

 
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){


}
/*Fecha o Responsivo*/
